.s-tabs {
    height: 63px;
    background-color: #dbdcdc;
}
.s-header {
    height: 24px;
    color: #3F4045;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    padding-left: 24px;
}